@charset "UTF-8";

/* **** 구글 폰트 연결 **** */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Black Han Sans', sans-serif;
*/

/* layout 영역 */
.clear::after{
    content:""; clear: both; display: block;
}

#section1 {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #222222;
}

#section1 .container {
    height: 100%;
    overflow: hidden;
}

#section1 .container .intro_page1 {
    height: 100%;
    background-color: #222222;
    transition: 4s;
}

#section1.loading_end .container .intro_page1 {
    transform: translateY(-100%);
}

#section1 .container .intro_page2 {
    height: 100%;
    background-color: #222222;
    transition: 4s;
}

#section1.loading_end .container .intro_page2 {
    transform: translateY(-100%);
}

/* section1 영역 (intro_page1) */

.intro_page1 {
}

.intro_page1 .intro_desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro_page1 .intro_desc>p {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
}

.intro_page1 .intro_desc .loadingBar {
    position: relative;
    background-color: #999999;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin-top: 30px;
}

.intro_page1 .intro_desc .loadingBar .lodingbar_active {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border-radius: 20px;
}

.intro_page1 .intro_desc .itp-1_arrow{
    position: absolute;
    font-size: 3vw;
    color: #fff;
    top: 90%;
    opacity: 0;
    transition: 0.2s;
}

#section1.loading_end .intro_page1 .intro_desc .itp-1_arrow{
    opacity: 1;
}

.intro_page1 .intro_desc .itp-1_arrow.itp-1_left_arrow{
    left: 10%;
}

.intro_page1 .intro_desc .itp-1_arrow.itp-1_right_arrow{
   right: 10%;
}

.intro_page1 .intro_desc .itp-1_arrow i:nth-child(2){
    position: absolute;
    font-size: 2.5vw;
    top: -50%;
    left: 0.25vw;
    opacity: 0.5;
}
.intro_page1 .intro_desc .itp-1_arrow i:nth-child(3){
    position: absolute;
    font-size: 2vw;
    top: -110%;
    left: 0.5vw;
    opacity: 0.2;
}

/* section1 영역 (intro_page2) */

.intro_page2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro_page2 .intro_title{
    position: relative;
    width: 95%;
    height: 95%;
}

.intro_page2 .intro_title .inp-2_mainCont{
    width: 100%;height: 100%;
}

.intro_page2 .intro_title .inp-2mc_head{
    position: relative;
    width: 100%;
    height: 5%;
    overflow: hidden;
    opacity: 0;
    transition: 2s;
}

.intro_page2 .intro_title .inp-2mc_head.circle_end{
    opacity: 1;
}

.intro_page2 .intro_title .inp-2mc_head .head_box{
    width: 200%;
    height: 100%;
    /* border-radius: 30px; */
    display: flex;
    align-items: center;
    animation: inp-2mc_start 10s linear infinite ;
}

.intro_page2 .intro_title .inp-2mc_head.stopAni .head_box{
    animation-play-state: paused;
}

@keyframes inp-2mc_start {
    0% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(-50%)
    }
}

.intro_page2 .intro_title .inp-2mc_head::after{
    content: "";
    position: absolute;
    top: 0;left: 0;
    width: 8%;
    height: 100%;
    background: linear-gradient(to right,rgb(33, 33, 33),rgba(33, 33, 33, 0));
}

.intro_page2 .intro_title .inp-2mc_head::before{
    content: "";
    position: absolute;
    top: 0;right: 0;
    width: 8%;
    height: 100%;
    background: linear-gradient(to left,rgb(33, 33, 33),rgba(33, 33, 33, 0));
    z-index: 2;
}

.intro_page2 .intro_title .head_box>div{
    position: relative;
    height: 80%;
    width: 7.142%;
    /* border-radius: 30px; */
}

.intro_page2 .intro_title .head_box>div::before{
    content: "";
    position: absolute;
    width: 10% ;height: 60%;
    top: 0;left: 30%;
    background-color: #222222;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.intro_page2 .intro_title .head_box>div::after{
    content: "";
    position: absolute;
    width: 10% ;height: 60%;
    bottom: 0;right: 30%;
    background-color: #222222;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.red{
    background: linear-gradient(to right,red,orange);
}

.orange{
    background: linear-gradient(to right,orange,yellow);
}

.yellow{
    background: linear-gradient(to right,yellow,green);
}

.green{
    background: linear-gradient(to right,green,blue);
}

.blue{
    background: linear-gradient(to right,blue,Indigo);
}

.Indigo{
    background: linear-gradient(to right,Indigo,Violet);
}

.Violet{
    background: linear-gradient(to right,Violet,red);
}

.intro_page2 .intro_title .inp-2mc_body{
    width: 100%;
    height: 90%;
    pointer-events: none;
}

.intro_page2 .intro_title .inp-2mc_body.circle_end{
    pointer-events: auto;
}

.intro_page2 .intro_title .inp-2mc_foot{
    position: relative;
    width: 100%;
    height: 5%;
    overflow: hidden;
    opacity: 0;
    transition: 2s;
    z-index: -1;
}

.intro_page2 .intro_title .inp-2mc_foot.circle_end{
    opacity: 1;
}


.intro_page2 .intro_title .inp-2mc_foot .foot_box{
    width: 200%;
    height: 100%;
    /* border-radius: 30px; */
    display: flex;
    align-items: center;
    animation: inp-2mc_end 10s linear infinite ;
}

.intro_page2 .intro_title .inp-2mc_foot.stopAni .foot_box{
    animation-play-state: paused;
}


@keyframes inp-2mc_end {
    0% {
        transform: translateX(-50%)
    }

    100% {
        transform: translateX(0%)
    }
}

.intro_page2 .intro_title .inp-2mc_foot::after{
    content: "";
    position: absolute;
    bottom: 0;left: 0;
    width: 8%;
    height: 100%;
    background: linear-gradient(to right,rgb(33, 33, 33),rgba(33, 33, 33, 0));
}

.intro_page2 .intro_title .inp-2mc_foot::before{
    content: "";
    position: absolute;
    bottom: 0;right: 0;
    width: 8%;
    height: 100%;
    background: linear-gradient(to left,rgb(33, 33, 33),rgba(33, 33, 33, 0));
    z-index: 2;
}

.intro_page2 .intro_title .foot_box>div{
    position: relative;
    height: 80%;
    width: 7.142%;
    /* border-radius: 30px; */
}

.intro_page2 .intro_title .foot_box>div::before{
    content: "";
    position: absolute;
    width: 10% ;height: 60%;
    top: 0;right: 30%;
    background-color: #222222;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.intro_page2 .intro_title .foot_box>div::after{
    content: "";
    position: absolute;
    width: 10% ;height: 60%;
    bottom: 0;left: 30%;
    background-color: #222222;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.intro_page2 .intro_title .inp-2mc_body {
    display: flex;
    flex-direction: column;
    gap: 2% ;
    justify-content: center;
}

.intro_page2 .intro_title .inp-2mc_body>div{
    position: relative;
    width: 100%; background-color: rgba(255, 255, 255, 0.7);
    height: 20%;
    margin-left: 1%;
    transition: 1s;
    opacity: 1;
    border-radius: 30px;
    display: flex;
}

.intro_page2 .intro_title .inp-2mc_body>div .inps_tit{
    width: 10%;
    text-align: center;
}

.intro_page2 .intro_title .inp-2mc_body>div .inps_tit p{
    font-size: 1.5vw;
    color: #222222;
    padding: 1vw;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    font-weight: 600;
}

.intro_page2 .intro_title .inp-2mc_body>div .inps_tit .number_box{
    background-color: #222222;
    height: 60%;
    border-top-right-radius: 30px;
    font-size: 2.5vw;
    padding-top: 10px;
    transition: 0.3s;
    transform: translateX(-1vw);
}

.intro_page2 .intro_title .inp-2mc_body>div .inps_cont{
    width: 40%;
    margin: 1%;
    border-radius: 30px;
}

.intro_page2 .intro_title .inp-2mc_body>div .inps_img{
    width: 10%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.intro_page2 .intro_title .inp-2mc_body>div .inps_img img{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 2px solid #222222;
    transition: 0.6s;
}

.intro_page2 .intro_title .inp-2mc_body>div.active{
    height: 25%;
    background-color: rgba(255, 255, 255, 1);
}

.intro_page2 .intro_title .inp-2mc_body>div.active .inps_tit .number_box{
    padding-top: 20px;
}

.intro_page2 .intro_title .inp-2mc_body>div.active .inps_img img{
    transform: translateX(10vw);
}


.intro_page2 .intro_title .circles{
    width: 50vh;
    height: 50vh;
    position: absolute;
    top: calc(50% - 25vh);
    left: calc(50% - 25vh);
    z-index: 4;
}
.intro_page2 .intro_title .it_circle{
    position: absolute;
    
}

.intro_page2 .intro_title .circle_out{
   width: 100%;
    top: 0;left: 0;
    height: 100%;
    border-radius: 50%;
    border: 2px dashed #999999;
    animation: rotate_reverse 90s linear infinite;
    animation-delay: 7s;
    opacity: 0;
    transition: opacity 1.5s;
}

.intro_page2.selectPage .intro_title .circle_out{
    opacity: 0;
}

.intro_page2 .intro_title .circle_mid{
    width: 95%;
    top: 2.5% ;left: 2.5%;
    height: 95%;
    border-radius: 50%;
    border: 2px dashed #cccccc;
    animation: rotate 70s linear infinite;
    animation-delay: 7s;
    opacity: 0;
    transition: opacity 0.5s;
}

.intro_page2.selectPage .intro_title .circle_mid{
    opacity: 0;
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes rotate_reverse{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}

.intro_page2 .intro_title .circle_vis{
    position: relative;
    width: 90%;
    top: 5%;left: 5%;
    height: 90%;
    border-radius: 50%;
    background-color: #222222;
    overflow: hidden;
    border: 2px solid  #222222;
}

.intro_page2.selectPage .intro_title .circle_vis{
    background:none;
    border:none;
    transition: 0.5s ease-out;
}

.intro_page2 .intro_title .circle_vis img{
    position: absolute;
    top: calc(50% - 60vh);
    left: -20vw;
    width: 100vw;
    height: 120vh;
    /* filter: blur(); */
}



.intro_page2 .intro_title .itp-2_arrow{
    position: absolute;
    font-size: 3vw;
    color: #fff;
    top: 50%;
    opacity: 0;
    transition: 0.2s;
    transform: rotate(90deg);
}


.intro_page2 .intro_title .itp-2_left_arrow{
    left: 10%;
}

.intro_page2 .intro_title .itp-2_right_arrow{
   right: 10%;
}

.intro_page2 .intro_title i:nth-child(2){
    position: absolute;
    font-size: 2.5vw;
    top: -50%;
    left: 0.25vw;
    opacity: 0.5;
}
.intro_page2 .intro_title i:nth-child(3){
    position: absolute;
    font-size: 2vw;
    top: -110%;
    left: 0.5vw;
    opacity: 0.2;
}

.intro_page2 .ipt-2_follow{
    position: absolute;
    width: 10vh;
    height: 10vh;
    background-color: #fff;
    top: calc(50% - 5vh);
    left: calc(65% - 5vh);
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transition: opacity 2s;
    transition-delay: 2s;
    cursor: pointer;
}

.intro_page2 .ipt-2_follow.selectPage{
    z-index: 1;
    opacity: 1;
}

.intro_page2 .ipt-2_follow .itp2_f_click{
    position: relative;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}

.intro_page2 .ipt-2_follow .itp2_f_click i{
    position: absolute;
    font-size: 5vw;
    left: -50%;
    color: #fff;
}

.intro_page2 .ipt-2_follow .itp2_f_click i:nth-child(1){
    top: -75%;
    transform: rotate(145deg);
    animation: clickClick 1s infinite ease-in-out;
}

@keyframes clickClick {
    0% {
        transform: rotate(145deg) translate(0,0);
        opacity: 0.4;
    }

    50% {
        transform: rotate(145deg) translate(50%,100%);
        opacity: 1;
    }

    100% {
        transform: rotate(145deg) translate(0,0);
        opacity: 0.4;
    }
}


.intro_page2 .ipt-2_follow.active .itp2_f_click{
    opacity: 0;
}

.intro_page2 .ipt-2_follow .itp2_f_line{
    position: absolute;
    top: calc(50% - 1vh);
    left: 50%;
    width: 50vw;
    height: 2vh;
    /* background-color: #fff; */
    border: 0.5vh dashed #fff;
    transform: rotate(0deg);
    transform-origin: left;
}

.intro_page2 .ipt-2_follow.endPage .itp2_f_click{
    display: none;
}

.intro_page2 .ipt2_sidebar{
    position: absolute;
    top: 0;left: -30%;
    width: 30%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    z-index: 150;
    transition: 0.5s ease-out;
    transition-delay: 2s;
}

.intro_page2 .ipt2_sidebar::before{
    position: absolute;
    content: "";
    top: 0;right: -20%;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left,rgba(34,34,34,0),rgba(34,34,34,1));
}

.intro_page2.endPage .ipt2_sidebar{
    left: 0;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head{
    width: 100%;
    height: 33%;
    padding: 10%;
    box-sizing: border-box;
    
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .visualStudio{
    width: 100%;
    height: 30%;
    display: flex;
    gap: 1vw;
    margin-bottom: 10%;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .visualStudio .vs_img{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .visualStudio .vs_img img{
    width: 100%;
    transition: 0.3s;
    transform: perspective(1000px) rotateY(180deg) ;
    cursor: pointer;
    
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .visualStudio .vs_img:hover img{
    transform: perspective(1000px) rotateY(0deg) ;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .visualStudio.select .vs_img img{
    transform: perspective(1000px) rotateY(0deg) ;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .visualStudio #vs_txt{
    color: #fff;
    position: relative;
    display: inline-block;
    margin: auto 0;
    font-size: 0.8vw;
    font-weight: bold;
}

.txtBar::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0.5vw;
    border-right: 0.4vw solid #9c9c9c;
    animation: text-bar 1s 3 linear;
    animation-play-state: paused;
}

.txtBar.end::after {
    animation-play-state: running;
    animation-delay: 1s;
}

.txtBar.delete::after {
    display: none;
}


@keyframes text-bar {
    0% {
        opacity: 1
    }

    40% {
        opacity: 0
    }

    60% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.intro_page2 .ipt2_sidebar .ipt2_s_head #vsHead_txt{
    display: inline-block;
    box-sizing: border-box;
    font-size: 0.8vw;
    font-weight: bold;
    position: relative;
    margin: auto 0;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head #vsHead_txt.end{
    color: yellowgreen;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .vsHeadCont{
    font-size: 0.8vw;
    font-weight: bold;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .vsHeadCont .vsh-div{
    color: #9c9c9c;
    display: none;
    margin-left: 0.5vw;
    float: left;
}


.intro_page2 .ipt2_sidebar .ipt2_s_head .vsHeadCont .vsh-div.active{
    display: block;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .vsHeadCont .vsh-div em{
    color: #00a2ff;
}

.aquaTxt{
    color: aqua;
}

.whiteTxt{
    color: white;
}

.orangeTxt{
    color: rgb(255, 115, 0);
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .vsHeadCont #vsHeadCont_txt{
    position: relative;
    display: inline-block;
    
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .vsHeadCont #vsHeadCont_txt.active{
    display: none;
}


.intro_page2 .ipt2_sidebar .ipt2_s_head .vsHeadCont #vsHeadCont_txt2{
    position: relative;
    display: none;
    float: left;
    margin-left: 1vw;
}

.intro_page2 .ipt2_sidebar .ipt2_s_head .vsHeadCont #vsHeadCont_txt2.start{
    display: inline-block;
}






.intro_page2 .ipt2_sidebar .ipt2_s_body{
    width: 100%;
    height: 33%;
    padding: 10%;
    box-sizing: border-box;
}
.intro_page2 .ipt2_sidebar .ipt2_s_foot{
    width: 100%;
    height: 33%;
    padding: 10%;
    box-sizing: border-box;
}

@keyframes clockwise {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes counter-clockwise {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }

  .loadingImg {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .circle {
    width: 3vh;
    height: 3vh;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 25%;
    animation: circleMove .5s alternate infinite ease;
  }
  
  @keyframes circleMove {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: 65%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 3vh;
    height: 1vh;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    z-index: -1;
    left: 25%;
    filter: blur(3px);
    animation: circleShadow .5s alternate infinite ease;
  }
  
  @keyframes circleShadow {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.5);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: 65%;
    animation-delay: .3s;
  }
  