@charset "UTF-8";

*{margin: 0;padding: 0;}

section{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}

section .rgb{
    position: absolute;
    width: 500px;height: 300px;
}

.rgbKineticSlider .canvas{
    position: absolute;
}