@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#wrap {

}

#wrap>div {
    margin-top: 20px;
    border-bottom: 3px solid aquamarine;
    padding-bottom: 20px;
    padding: 0 5vw 20px;
}

input {
    outline: none;
}

.둘째 form{
    padding: 10px;
    border: 1px solid #222;
}

.둘째 form fieldset{
    padding: 10px;
}