* {
    margin: 0;
    padding: 0;
}

.pt {
    position: relative;
    height: 100vh;
    background-color: #000;
}

.pt video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#particles-js{
    position: relative;
    width: 100%;height: 100%;background-color: #fff;
    mix-blend-mode: screen;
}