@charset "UTF-8";

*{margin: 0;padding: 0;}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

h2{
    font-weight: bold;
    color: #141e30;
    margin-bottom: 20px;
}

.timeline-section {
    margin: 20px auto;
    padding: 20px;
}

.timeline-section .card{
    max-width:400px;
    position: relative;
}

.timeline-section .card:nth-child(odd){
    padding: 30px 0 30px 30px;
}
.timeline-section .card:nth-child(even){
    padding: 30px 30px 30px 0;
}

.timeline-section .card::before{
    content: "";
    position: absolute; width: 50%;
    border: 2px solid orangered;
    
    
}

.timeline-section .card:nth-child(odd)::before{
    left: 0;top: -5px;bottom: 0;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
    
}
.timeline-section .card:nth-child(even)::before{
    right: 0;top: -5px;bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

.timeline-section .card:nth-child(1)::before{
    border-top: 0;
    border-radius: 50px 0 0 0;
}
.timeline-section .card:nth-child(5)::before{
    border-bottom: 0;
    border-radius: 50px 0 0 0;
}

.timeline-section .card:nth-child(odd)::after{
    content: "";
    position: absolute; width: 15px;height: 15px;
    top: 43px;left: -7px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid orangered;
}
.timeline-section .card:nth-child(even)::after{
    content: "";
    position: absolute; width: 15px;height: 15px;
    top: 43px;right: -7px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid orangered;
}

.timeline-section .card .info{
    background-color: #141e30;
    background-image: linear-gradient(to right, #4c75a4, #141e30);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.timeline-section .card .info h3{
    color: orangered;
    padding-bottom: 10px;
}